@font-face {
    font-family: 'PWChristmasTinsel';
    src: url('../Fonts/PWChristmasTinsel.woff2') format('woff2'),
    url('../Fonts/PWChristmasTinsel.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A Gentle Touch';
    src: url('../Fonts/AGentleTouch.woff2') format('woff2'),
    url('../Fonts/AGentleTouch.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



body {
    width: 100%;
    height: auto;
    background-color: #cc231e !important;
}

p {
    text-align: center;
    color: white;
    font-family: PWChristmasTinsel;
    font-size: 90px;
}

i {
    margin-top: 4%;
    margin-left: 48%;
    color: gold;
    font-size: 60px;
}

thead {
    color: white;
    font-family: "Courier New";
}

tbody {
    color:gold;
    font-family: "Courier New";
}

.container {
    position: relative;
}

.row {
    margin-top: 10%;
    margin-bottom: 10%;
}

.wish {
    width: 100%;
    height: 80%;
    border: #96000E solid 7px;
}

.wish-form {
    margin: 5%;
    color: white;
    font-family: "Courier New";
}

.wish-form input{
    box-sizing: border-box;
    background-color: #96000E;
    border: 0px;
    display: block;
    text-indent: 10px;
    color: white;
}

.wish-form select {
    box-sizing: border-box;
    background-color: #96000E;
    border: 0px;
    display: block;
    text-indent: 10px;
    color: white;
}

.wish-form textarea {
    box-sizing: border-box;
    background-color: #96000E;
    border: 0px;
    display: block;
    color: white;
}

.treeImg {
    margin-top: 6%;
    width: 100%;
    height: 520px;
}

.letterImg {
    margin-left: 9%;
    margin-top: 9%;
    width: 80%;
    height: 80vh;
}

.wish-sent {
    text-align: center;
    color: white;
    font-family: PWChristmasTinsel;
    font-size: 8vh;
}

.wish-list-form {
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 38%;
    color: white;
    font-family: "Courier New";
}

.wish-list-btn {
    width: 100%;
}

.total-results {
    font-family: "Courier New";
    font-size: 18px;
    color: gold;
    text-align: left;
    margin-bottom: 1%;
}

.trash {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.snowflake {
    color: #fff;
    font-size: 3em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

.letter-first {
    position: absolute;
    top: 34%;
    left: 19%;
    font-size: 170%;
    font-family: A Gentle Touch;
}

.letter-second {
    position: absolute;
    top: 41%;
    left: 19%;
    font-size: 170%;
    font-family: A Gentle Touch;
}

.letter-third {
    position: absolute;
    top: 48%;
    left: 19%;
    font-size: 170%;
    font-family: A Gentle Touch;
}

.letter-fourth {
    position: absolute;
    top: 55%;
    left: 19%;
    font-size: 170%;
    font-family: A Gentle Touch;
}

.letter-fifth {
    position: absolute;
    top: 88%;
    left: 41%;
    font-size: 170%;
    font-family: A Gentle Touch;
}

.letter-sixth {
    position: absolute;
    top: 88%;
    left: 65%;
    font-size: 190%;
    font-family: A Gentle Touch;
}

.letter-sixth i {
    font-size: 300%;
    color: green;
}

.letter-seventh {
    position: absolute;
    top: 88%;
    left: 73%;
    font-size: 190%;
    font-family: A Gentle Touch;
}

.letter-seventh i {
    font-size: 300%;
    color: red;
}






@keyframes snowflakes-fall {
    0% {
        top:-10%
    }
    100% {
        top:100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform:translateX(0px)
    }
    50% {
        transform:translateX(80px)
    }
    100% {
        transform:translateX(0px)
    }
}

.snowflake {
    position:fixed;
    top:-10%;
    z-index:9999;
    cursor:default;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}

.snowflake:nth-of-type(0) {
    left:1%;
    animation-delay:0s,0s
}

.snowflake:nth-of-type(1) {
    left:10%;
    animation-delay:1s,1s
}

.snowflake:nth-of-type(2) {
    left:20%;
    animation-delay:6s,.5s
}

.snowflake:nth-of-type(3) {
    left:30%;
    animation-delay:4s,2s
}

.snowflake:nth-of-type(4) {
    left:40%;
    animation-delay:2s,2s
}

.snowflake:nth-of-type(5) {
    left:50%;
    animation-delay:8s,3s
}

.snowflake:nth-of-type(6) {
    left:60%;
    animation-delay:6s,2s
}

.snowflake:nth-of-type(7) {
    left:70%;
    animation-delay:2.5s,1s
}

.snowflake:nth-of-type(8) {
    left:80%;
    animation-delay:1s,0s
}

.snowflake:nth-of-type(9) {
    left:90%;
    animation-delay:3s,1.5s
}

