@font-face {
    font-family: 'A Gentle Touch';
    src: url('AGentleTouch.woff2') format('woff2'),
        url('AGentleTouch.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

